<html lang="ES">
<head>
    <title>Toolify</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
            {% for playlist in playlists %}
                <div class="col p-1">
            <div class="card" style="width: 18rem;">
                <img src='{{playlist.get_image_uri()}}' class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{playlist.get_name()}}</h5>
                    <p class="card-text">{{playlist.get_description()}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>Total tracks:</b> {{playlist.get_total_tracks()}}</li>
                </ul>
                <div class="card-body">
                    <button type="button" id='{{playlist.get_spotify_id()}}' class="btn btn-primary reorder">Order by release date (desc)</button>
                </div>
            </div>
                </div>
            {% endfor %}
    </div>
</div>

<script src="../static/js/bootstrap.bundle.min.js"></script>

<script>
    var reorderButton = document.getElementsByClassName('reorder');
    for (let i = 0; i < reorderButton.length; i++) {
        reorderButton[i].addEventListener('click', function () {
            var http = new XMLHttpRequest();
            var url = '{{order_playlists_url}}'
            var params = 'playlist=' + reorderButton[i].id;
            http.open('POST', url, true);

            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            http.onreadystatechange = function() {
                if(http.readyState === 4 && http.status === 200) {
                    alert("PLAYLIST WAS ORDERED");
                }
            }
            http.send(params);
        });
    }
</script>
</body>
</html>