<!DOCTYPE>
<html lang="ES">
<head>
    <title>Toolify</title>
    <link rel='shortcut icon' type='image/x-icon' href="{{url_for('static', filename='toolify.png')}}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-light bg-light shadow-sm mb-5">
            <img src="{{url_for('static', filename='images/toolify.png')}}" class="mx-auto d-block" alt="">
</nav>
<div class="container">
    <div class="row">
            {% for playlist in playlists %}
                <div class="col p-1">
            <div class="card" style="width: 18rem;">
                <img src='{{playlist.get_image_uri()}}' class="card-img-top" height="286px" width="286px" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{playlist.get_name()}}</h5>
                    <p class="card-text">{{playlist.get_description()}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Total tracks:</strong> {{playlist.get_total_tracks()}}</li>
                </ul>
                <div class="card-body">
                    <button type="button" id='{{playlist.get_spotify_id()}}' class="btn btn-primary reorder">Order by release date (desc)</button>
                </div>
            </div>
                </div>
            {% endfor %}
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>
    var reorderButton = document.getElementsByClassName('reorder');
    for (let i = 0; i < reorderButton.length; i++) {
        reorderButton[i].addEventListener('click', function () {
            var http = new XMLHttpRequest();
            var url = '{{order_playlists_url}}'
            var params = 'playlist=' + reorderButton[i].id;
            http.open('POST', url, true);

            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

            http.onreadystatechange = function() {
                if(http.readyState === 4 && http.status === 200) {
                    alert("PLAYLIST WAS ORDERED");
                }
            }
            http.send(params);
        });
    }
</script>
</body>
</html>
